body{
    /* background-color: #171515; */
    background-color: white;
      
}

h1{
    color: black;
    text-align: center;
}

button{
    border-style: double;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
}

button:hover{
    background-color: aqua;
}

span{
    margin-left: 200px;
}
#newarr{
    margin-left: 150px;
}

#bubble,#selection,#insertion,#merge,#quick,#sizer,#speed,#newarr{
    margin-right: 20px auto;
    
}

#bar{
    color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    flex-direction: row;
    padding: 20px 30px 0px 10px;
}
  


.baritem {
    background: yellow;
    border: 1.25px solid black;
    width: 16px;
  }

a{
    text-decoration: none;
    color: black;
}

.bar-value {
   
    /* transform: translateX(-50%); */
    font-size: 8px; /* Adjust the font size as desired */
    font-weight: 1000;
    color: black; /* Change the color of the value */
}



/* For screens smaller than 768px (typical smartphones) */
@media screen and (max-width: 768px) {
    span {
        margin-left: 0;
        text-align: center;
        display: block;
    }

    #newarr {
        margin-left: 0;
        margin-right: 0;
    }

    #bubble, #selection, #insertion, #merge, #quick, #sizer, #speed, #newarr {
        margin: 10px auto;
        display: block;
    }
  
    #bar{
        color: red;
        display: flex;
        justify-content: center;
        height: 400px;
        flex-direction: row;
        padding: 20px 30px 0px 10px;
    }
      
    .baritem {
        background: yellow;
        border: 1.25px solid blue;
        width: 0.75%;
      }
  
    a {
        margin-bottom: 10px;
    }

}
